@page
@model WorldHeritageJSON.Pages.WorldHeritageSitesModel
@{
    ViewData["Title"] = "Historical Tourist Destinations";
    List<WorldHeritageJSON.Pages.Item> items = (List<WorldHeritageJSON.Pages.Item>)ViewData["Items"];
    
}


<form action="" method="POST" style="margin-top: 50px;">
    <div class="form-group">
    <label class="control-label" for="UnescoCountry">Search your next destination</label>
       
    <select class="form-control" name="UnescoCountry" id="UnescoCountry">
        <option value=""></option>
        <option value="Italy">Italy</option>
        <option value="Brazil">Brazil</option>
        <option value="France">France</option>
        <option value="India">India</option>
        <option value="Romania">Romania</option>
        <option value="Algeria">Algeria</option>
        <option value="Mexico">Mexico</option>
        <option value="Thailand">Thailand</option>
        <option value="Japan">Japan</option>
        <option value="Chile">Chile</option>
        <option value="Turkey">Turkey</option>
        <option value="Egypt">Egypt</option>

    </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-sm btn-primary" />
    </div>
</form>

@if (Model.IsSearchEmpty)
{
    <div class="row alert alert-warning">
        Enter atleast one field to begin search!
    </div>
}

else if (Model.IsSearchCountry)
{
    if (Model.IsSearchValid)
    {
        <table class="table table-dark">
            <tr>
                <th>Historical Site</th>
                <th>Description</th>
                <th>Area</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Avg Temperature</th>
            </tr>
            @{
                foreach (WorldHeritageJSON.Pages.Item item in items)
                {
                    string temp = item.tem.ToString() + "°C";
                        <tr>

                            <td>@item.name</td>
                            <td>@item.description</td>
                            <td>@item.area</td>
                            <td>@item.lat</td>
                            <td>@item.lon</td>
                            <td>@temp</td>
                        </tr>
                }
            }
        </table>
    }
    else

    {
        <div class="row alert alert-warning">
            No Unesco sites present for this search. Please try again with different country
        </div>
    }

}